<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vn.viplus" version="1.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VinaPhone Plus</name>
    <description>
        Vinaphone Care Plus
    </description>
    <author email="tungdo@neonstudio.us" href="http://google.com.vn">
        Development Team
    </author>
    <content src="index.html" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="3000" />
	<preference name="Orientation" value="portrait" />
	<preference name="KeyboardShrinksView" value="true" />
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="Fullscreen" value="true" />
	<platform name="android">
              <icon src="www/res/icon/android/ldpi.png" density="ldpi" />
              <icon src="www/res/icon/android/mdpi.png" density="mdpi" />
              <icon src="www/res/icon/android/hdpi.png" density="hdpi" />
              <icon src="www/res/icon/android/xhdpi.png" density="xhdpi" />
     </platform>
	 
    <access origin="*" />
</widget>
